/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6c3baa;
  --ifm-color-primary-dark: #613599;
  --ifm-color-primary-darker: #5c3291;
  --ifm-color-primary-darkest: #4c2977;
  --ifm-color-primary-light: #7741bb;
  --ifm-color-primary-lighter: #7d48bf;
  --ifm-color-primary-lightest: #8f61c8;
  --ifm-background-color: #f9fafb;
  --ifm-navbar-background-color: #f9fafb;
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 4.5rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a379d9;
  --ifm-color-primary-dark: #915fd2;
  --ifm-color-primary-darker: #8852ce;
  --ifm-color-primary-darkest: #6e34b8;
  --ifm-color-primary-light: #b593e0;
  --ifm-color-primary-lighter: #bea0e4;
  --ifm-color-primary-lightest: #d9c8ef;
  --ifm-background-color: #1e1e1e;
  --ifm-navbar-background-color: #1e1e1e;
}

p, a.navbar__link, a.navbar__brand {
  font-size: 1.2rem;
}
